Host titanrtx
  HostName sizuka.cyberberry.org
  User ttakikawa
  Port 10022
  LocalForward 9797 localhost:9797
  LocalForward 8188 localhost:8188
  LocalForward 8888 localhost:8888
  LocalForward 7680 localhost:7680
  LocalForward 4317 localhost:4317
  LocalForward 4318 localhost:4318
  LocalForward 3000 localhost:3000
  LocalForward 3001 localhost:3001
  LocalForward 3002 localhost:3002
  LocalForward 54321 localhost:54321
  LocalForward 54322 localhost:54322
  LocalForward 54323 localhost:54323
  LocalForward 5432 localhost:5432
  LocalForward 8000 localhost:8000
  LocalForward 3131 localhost:3131
  LocalForward 8080 localhost:8080
  LocalForward 7632 localhost:7632
  LocalForward 57720 localhost:57720
  LocalForward 1337 localhost:1337
  SetEnv TERM=xterm-256color

Host nokotan
  HostName 100.71.246.15
  User towaki
  SetEnv TERM=xterm-256color
  Compression yes
  ServerAliveInterval 30
  LocalForward 8384 localhost:8384
  LocalForward 1337 localhost:1337
  LocalForward 3000 localhost:3000
  LocalForward 3001 localhost:3001
  LocalForward 3002 localhost:3002
  LocalForward 5432 localhost:5432
  LocalForward 8080 localhost:8080
  LocalForward 6006 localhost:6006
  LocalForward 5151 localhost:5151
  LocalForward 4000 localhost:4000
  LocalForward 4001 localhost:4001
  RemoteForward 2222 localhost:22

Host openclaw
    HostName 54.68.128.142
    User ubuntu
    IdentityFile ~/.ssh/LightsailDefaultKey-us-west-2.pem
    SetEnv TERM=xterm-256color
    LocalForward 18789 localhost:18789

Host deep6ix
  HostName 99.211.25.21
  User ttakikawa
  Port 10022
  LocalForward 6006 localhost:6006
  LocalForward 8888 localhost:8888
  ForwardAgent no
  ForwardX11 no

Host deep6ix-old
  HostName 99.211.25.21
  User ttakikawa
  Port 10023
  LocalForward 6006 localhost:6006
  LocalForward 8888 localhost:8888
  ForwardAgent no
  ForwardX11 no

Host vaiox4
  HostName sizuka.cyberberry.org
  User towaki

Host titanrtx-tunnel
  HostName 192.168.251.36
  User ttakikawa
  ProxyJump vaiox4

Host hgs-supermicro
  HostName 10.137.205.42
  User ttakikawa
  LocalForward 6006 localhost:6006

Host magic3d-demo
  HostName 10.110.42.107
  User gtcuser
  LocalForward 6006 localhost:6006
  LocalForward 8888 localhost:8888

Host takikawa-a
  HostName takikawa-a.abyss.dgp.sandbox
  User ttakikawa
  ProxyJump takikawa@apollo.dgp.toronto.edu
  LocalForward 8000 localhost:8000
  LocalForward 8080 localhost:8080
  LocalForward 8265 localhost:8265
  LocalForward 9800 localhost:9800

Host takikawa-a-direct
  HostName takikawa-a.abyss.dgp.sandbox
  User ttakikawa
  LocalForward 8000 localhost:8000
  LocalForward 8080 localhost:8080
  LocalForward 8265 localhost:8265
  LocalForward 7860 localhost:7860

Host takikawa-b
  HostName takikawa-b.abyss.dgp.sandbox
  User ttakikawa
  ProxyJump takikawa@zeus.dgp.toronto.edu
  LocalForward 7860 localhost:7860
  LocalForward 6006 localhost:6006
